.note {
    text-align: center;
    height: 120px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
  }
  
  .register-form {
    border: black;
  }
  
  body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.8em;
    text-transform: none;
    letter-spacing: .075em;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #e7bd74;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }
  
  .title {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
  }
  
  .form-control {
    border-radius: 1.5rem;
  }
  
  .btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
  }
  
  h1 {
    font-family: sans-serif;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 20px;
    color: black;
  }
  
  a {
    text-decoration: none;
    color: red;
  }
  
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  #footer {
    background-color: red;
    color: yellow;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .company-info {
    flex: 1;
  }
  
  .social-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact-info {
    flex: 1;
  }
  
  .copyright {
    flex: 1;
    text-align: right;
  }
  
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  
    .social-links {
      justify-content: center;
      width: 35px;
      height: 20px;
    }
  
    .contact-info {
      justify-content: center;
    }
  
    .copyright {
      justify-content: center;
    }
  }
  
  li {
    list-style: none;
    margin-bottom: 7px;
    color: red;
  }
  
  /*   Dashboard    */
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: blue;
    color: black;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
  }

  .sidebar{
    background-color: blue;
    color: white;
  }
  
  .btnSubmit{
    background-color: red;
    color: black;
  }
  
  p{
    color: blue;
  }
  
  .cont{
    background-color: gray;
  }

  h2{
    font-family: 'Times New Roman', Times, serif;
    color: green;
  }

  .social-links a{
    color: black;
  }
  
  .contact-info a{
    color: black;
  }

h5{
  color: black;
}

/* .container{
  background-color: #8811c5;
}
 */


.card {
  width: calc(25% - 20px); 
  height: fixed;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: red;
}

.card a{
  color: black;
  background-color: red;
}

.card{
  background-color: goldenrod !important;
}

.details-color{
  background-color: white;
  }

